body{
  padding: 0;
  margin: 0;
}

#container{
    background-color: #141414;
    height: 100vh;
    width: 100%;
}

#menu{
    width: 100%;
    height: 35px;
    background-color: black;
}

#menu img{
height: 22px;
margin-top: 9px;
margin-left: 10px;
}

#conteudo{
    width: 300px;
    height: 370px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    display: block;
}

#publico{
    color: white;
    font-size: 30px;
    font-family: Arial;
    margin-top: 100px;
}

#publico p{
    margin-left:70px;
}

#perfil{
    width: 300px;
    height: 247px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: -20px;
}

.perfils{
    width: 84px;
    height: 110px;
    margin: 11px 3px;
    border-radius: 5px;

}

.perfils img{
    width: 84px;
    height: 84px;
    border-radius: 5px;

}

.perfils a{
    text-decoration: none;
}

 .nomes{
    font-size: 14px;
    margin-top:3px;
    text-align: center;
    color: #888;
   
}

#gerenciar{
    width: 165px;
    height: 28px;
    border: 1px solid gray;
    margin-left: auto;
    margin-right: auto;
    color: #808080;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    letter-spacing: 2px;
    }
    
